.container-fix{
    max-width: 41rem;
}
.bot-m{
    margin-bottom: 20%;
}
.fixed-bottom{
    position: relative;
}
.footer-style{
    position: relative;
    top: 0%;
    left: 0;
    right: 0;
    bottom: 0;
}
